// colors

$very-Dark-Gray: hsl(0, 0%, 17%);
$dark-Gray: hsl(0, 0%, 59%);
$first-color: white;
$second-color: black;
// typography

/// font
$font-family: 'Rubik', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
